* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
    font-family: Georgia, 'Iowan Old Style', 'Palatino Linotype', 'Times New Roman', serif;
    line-height: 1.8;
    word-spacing: 0.05em;
    font-size: 1rem;
}
body {
    background-color: #FBF9F1;
    color: #4A3525;
}
#Contacto,#Servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #2E5A44;
}

.nav-link {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
    list-style-type: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1B2A4A;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: left;
}
.Bienvenido{
    color: white;
    font-size: 12px;
    font-weight: bold;
}

h2 {
    margin-bottom: -1%;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.imagen-contenedor {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 1%;
}

.dimension-imagen{
    display: flex;
    width: 300px;
    height: 300px;
}
.contactar {
    border: 5px solid #2E5A44;
    box-shadow: 0 4px 8px #1B2A4A;
    margin: 1%;
    display: inline-block;
    padding-left: 1%;
    padding-right: 1%;
    width: 400px;
}
.contactar ul li{
    margin-left: 10%;
    
}
.contactar ul li a {
    color: #4A3525;
    
}

.pie {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B2A4A;
    color: white;
}

